<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NanoTimeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NanoTimeTracker.Properties.Settings>
            <setting name="LogFilePath" serializeAs="String">
                <value>&lt;MYDOCUMENTS&gt;\&lt;DATE&gt;TimeTrackerLog.txt</value>
            </setting>
            <setting name="HideCloseWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideExitWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideExitTaskInProgressWarning" serializeAs="String">
                <value>False</value>
            </setting>
        </NanoTimeTracker.Properties.Settings>
    </userSettings>
</configuration>